p {
    color: blue;
}

.asteroidb329big {
    color: blue;
}

#b325 {
    border: 1px solid green;
}

.asteroidb326 {
    color:black;
    border: 1px solid green;
}

div {
    font-weight: bold;
    font-style: normal;
}

.asteroidbig {
    background-color: yellow;
}